<div class="premium-shipping">
    <h4 class="premium-shipping__heading">
        Free Premium Shipping:
    </h4>
    <p class="premium-shipping__delivery-time">
        Guaranteed delivery 04. March 2022
    </p>
    <p class="premium-shipping__delivery-condition">
        If you order within 5h 30m
        {%- comment -%}
        If you order until 4:30PM tomorrow
        {%- endcomment -%}
    </p>
</div>